<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Secure Image Steganography</title>
</head>

<body>

    <h1>Secure Image Steganography</h1>

    <p>
        Aplikasi penyembunyian pesan rahasia menggunakan
        LSB dan AES-GCM.
    </p>

    <hr>

    <h2>Encode</h2>

    <p>
        Menyembunyikan pesan rahasia ke dalam gambar.
    </p>

    <a href="/encode">
        <button>
            Encode Message
        </button>
    </a>


    <h2>Decode</h2>

    <p>
        Mengambil pesan rahasia dari gambar stego.
    </p>

    <a href="/decode">
        <button>
            Decode Message
        </button>
    </a>

</body>

</html>